
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label >
      <h1 #titulo>Elige tu camino!!!</h1>
    
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Vehiculos cercanos</h4>
  </b>
  
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" (click)="Volver()">
          Cerrar Sesion
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Termina el Content -->